{
  "extends": ["airbnb-base", "prettier"],
  "overrides": [
    {
      "files": ["**/*.ts", "**/*.tsx"],
      "plugins": ["tailwindcss", "simple-import-sort"],
      "extends": ["plugin:tailwindcss/recommended", "airbnb", "airbnb-typescript", "plugin:prettier/recommended"],
      "parserOptions": {
        "project": "./tsconfig.json"
      },
      "rules": {}
    }
  ]
}
