{
  "extends": ["standard", "standard-with-typescript", "prettier"],
  "overrides": [
    {
      "files": ["**/*.ts", "**/*.tsx"],
      "plugins": ["tailwindcss", "simple-import-sort", "import"],
      "extends": ["plugin:tailwindcss/recommended", "plugin:prettier/recommended", "plugin:react/jsx-runtime"],
      "parserOptions": {
        "project": "./tsconfig.json"
      },
      "rules": {
        "@typescript-eslint/no-non-null-assertion": "off"
      }
    },
    {
      "files": ["*.test.*"],
      "plugins": ["jest"],
      "rules": {
        "@typescript-eslint/unbound-method": "off",
        "jest/unbound-method": "error"
      }
    }
  ]
}
